body {
    background-image: url("https://i.imgur.com/2CRxPxv.jpg");
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-size: 60px;
    margin-top: 0px;
    font-family: 'Roboto', sans-serif;
}

p {
  color: #a2a2a2;
}

h1 {
  color: #a2a2a2;
}
